/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: lightgrey !important;}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "variables";
@import "reset";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-tab-label-content,
.mat-tab-body-content
{
    color: #000000;
}
.cdk-overlay-container {
    z-index: 500 !important;
}
