$white-color: #FFFFFF;
$primary-color: #3f51b5; //was #F25B20
$primary-color-hover: #3f51b5; // was #F4936E
$primary-font-color: #707070;
$secondary-font-color: #b3b3b3;
$white-color-hover: #dadada;
$border-color: #dce0e0;
$red-color: #d9534f;
$text-white: #FCFCFC;
@import "mixins";